.next
node_modules
dist
out
.vercel
.netlify
.DS_Store
.env
.env.*
!.env.example
*.pem
*.key
*.p12
*.pfx
*.crt
*.log
*.local
*.sqlite
*.sqlite3
*.db
*.rdb
.Rhistory
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
